$base: #ffffff;
$text: #000000;
$other: #8e8e8e;
$gray: #6b6b6b;

$red: #ac4242;
$green: #90a959;
$blue: #6a9fb5;
$cyan: #75b5aa;

* {
  all: unset;
}

.bar,
.tooltip,
.powermenu {
  font-family: "JetbrainsMono Nerd Font";
  font-weight: bold;

  background-color: $base;
  border-color: $text;
  color: $text;
}

.tooltip,
.powermenu {
  border: 1px solid;
  border-radius: 8px;
}

.bar {
  border-bottom: 1px solid;
}

.tooltip {
  padding: 0.25rem 0.5rem;
}

.powermenu {
  font-size: 2rem;

  margin: 1rem;
  padding: 1rem;
}

.icon {
  padding: 0 0.5rem;
}

.workspace {
  .icon {
    padding: 0 0.3rem;
  }
}

.mic {
  .icon.running {
    color: $red;
  }
}

.battery {
  .icon.critical {
    color: $red;
  }
}

.shutdown.hover {
  color: $red;
}

.reboot.hover {
  color: $green;
}

.suspend.hover {
  color: $blue;
}

.lock.hover {
  color: $cyan;
}

.close.hover {
  color: $gray;
}

.tray image {
  -gtk-icon-transform: scale(0.5);
}

scale trough {
  background-color: $other;
  border-radius: 2px;
  min-height: 0.3rem;
  min-width: 4rem;
}

scale trough highlight {
  background-color: $text;
  border-radius: 2px;
}

scale.over trough highlight {
  background-color: $other;
  border-radius: 2px;
}

scale.critical trough highlight {
  background-color: $red;
  border-radius: 2rem;
}
