$base: #ffffff;
$text: #000000;
<<<<<<< HEAD
$other: #8e8e8e;
$gray: #6b6b6b;

$red: #ac4242;
$green: #90a959;
$blue: #6a9fb5;
$cyan: #75b5aa;
=======
$gray: #6b6b6b;
$green: #a6e3a1;
$red: #f38ba8;
>>>>>>> ca193e5 (rice🍚)

* {
  all: unset;
}

<<<<<<< HEAD
.bar,
.tooltip {
  font-family: "JetbrainsMono Nerd Font";
  font-weight: bold;
  font-size: 1rem;

  color: $text;
  background-color: $base;

  opacity: 0.85;
=======
.bar {
  font-family: "JetbrainsMono Nerd Font";
  font-size: 12;

  background-color: $base;
  opacity: 0.9;
>>>>>>> ca193e5 (rice🍚)

  border: 2px solid;
  border-color: $gray;
  border-radius: 8;
<<<<<<< HEAD
}

.bar {
  margin: 0.5rem 0.5rem 0 0.5rem;
  padding: 0 0.5rem 0 0;
}

.tooltip {
  padding: 0.25rem 0.5rem;
}

.icon {
  color: $text;
  margin: 0 0.25rem;
}

.single-icon {
  color: $text;
  margin: 0;
}

.workspace,
.tray,
.wifi,
.mic,
.speakers,
.battery,
.date,
.time {
  color: $text;
}

.workspace {
  .icon {
    padding: 0 0.2rem;
  }
}

.mic {
  .icon.running {
    color: $red;
  }
=======

  margin: 8 8 0 8;
}

.icon {
  margin: 0 6;
  color: $text;
}

.icon.single-icon {
  margin: 0;
}

.workspace {
  margin: 0 2;
  padding: 0;

  .icon {
    margin: 0 4;
  }

  .active.icon {
    color: $text;
  }

  .inactive.icon {
    color: $gray;
  }
}

.battery, .time, .date .tray .speakers .mic .wifi {
  color: $text;
>>>>>>> ca193e5 (rice🍚)
}

.battery {
  .icon.critical {
    color: $red;
  }
}

<<<<<<< HEAD
.tray image {
  -gtk-icon-transform: scale(0.5);
}

scale trough {
  background-color: $other;
  border-radius: 2px;
  min-height: 0.3rem;
  min-width: 4rem;
=======
.tooltip {
  color: $text;
}

.tray image {
  -gtk-icon-transform: scale(0.5); 
}

scale trough {
  background-color: $gray;
  border-radius: 2px;
  min-height: 5px;
  min-width: 50px;
>>>>>>> ca193e5 (rice🍚)
}

scale trough highlight {
  background-color: $text;
  border-radius: 2px;
}

scale.over trough highlight {
<<<<<<< HEAD
  background-color: $other;
  border-radius: 2px;
}

scale.critical trough highlight {
  background-color: $red;
  border-radius: 2rem;
}
=======
  background-color: $gray;
  border-radius: 2px;
}

>>>>>>> ca193e5 (rice🍚)
